h1 {
  font-size: var(--font-xl);
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: var(--font-m);
  font-weight: 700;
  line-height: 1.3;
}

p {
  margin-bottom: var(--spacing-medium);
  line-height: var(--line-height-base);
}

strong {
  font-weight: 700;
}