
.header {
    display: flex;
    flex-direction: column;
    padding: var(--header-padding);
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__top {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 4px; 
}

.header__logo {
    display: flex;
    max-width: 80%;
    align-items: center;
}

.header__logo img {
    height: var(--header-height);
    width: auto;
    display: block;
    width: 393px;
    height: 73px;
}

.header__menu {
    width: var(--menu-size);
    height: auto;
    cursor: pointer;
    display: block;
    width: 34px;
    height: 27px;
    flex-shrink: 0;
    margin-left: 10px;
}