/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-padding);
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.header__logo img {
    height: var(--header-height);
    width: auto;
    display: block;
}

.header__menu {
    width: var(--menu-size);
    height: auto;
    cursor: pointer;
    display: block;
}

/* Lang switcher - en dehors du header */
.lang-switcher {
    display: block;
    text-decoration: underline;
    color: var(--color-text);
    font-size: var(--font-xxs);
    font-weight: bold;
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: var(--color-white);
}
