
.hero {
  position: relative;
  width: 100%;
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
}

.hero__illustration {
    width: 402px;
  height: 501px;
  margin: -15px;
}

.hero__image {
  width: 100%;
  height: auto;
  display: block;
}

.biographie__hero,
.figures-ombre__hero,
.vulgarisation__hero {
    margin-left: -8px;
    width: 24.625rem;
    height: 12.25rem;
}

.biographie__hero-img,
.figures-ombre__hero-img,
.vulgarisation__hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.femmes-sciences__hero {
    width: 100%;
    padding: var(--spacing-large) 0;
    text-align: center;
}

.femmes-sciences__hero-img {
    width: 100%;
    width: 403px;
    height: 164px;
    display: block;
    margin: 0 auto;
    margin-left: -50px;
}

.objet-bu__hero {
    width: 100%;
    padding: 0;
    margin-bottom: var(--spacing-large);
}

.objet-bu__hero-img {
    width: 100%;
    height: auto;
    display: block;
}
