
.hero {
  position: relative;
  width: 100%;
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
}

.hero__illustration {
    width: 402px;
  height: 501px;
  margin: -15px;
}

.hero__image {
  width: 100%;
  height: auto;
  display: block;
}