/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.hero__illustration {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
