.intro {
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 132px;
  background-color: var(--color-white);
}

.intro__text {
  font-size: var(--font-s);
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
  color: var(--color-text);
}

.intro__text:last-child {
  margin-bottom: 0;
}

.intro__highlight {
  color: var(--rose, #EAA7C7);
  font-weight: 700;
}
