.lang-switcher {
  display: block;
  padding: 15px;
  margin-top: 10px;             
  margin-left: 15px;
  font-family: 'Actor', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}


/* ===========================
   PAGE BIOGRAPHIE
   =========================== */

/* Hero Section */
.biographie__hero {
    margin-left: -8px;
  width: 24.625rem;
  height: 12.25rem;
}

.biographie__hero-img {
  width: 100%;
  height: auto;
  display: block;
}

/* Titre principal */
.biographie__title {
  font-family: 'Actor', sans-serif;
  font-size: var(--font-xl, 2rem);
  font-weight: 500;
  color: var(--orange, #ED783D);
  line-height: 1.2;
  margin: 20px 15px 15px 15px;
}

/* Sous-titre */
.biographie__subtitle {
  font-family: 'Actor', sans-serif;
  font-size: var(--font-m, 1.5rem);
  font-weight: 500;
  color: var(--bleu, #808bc5);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 3.6rem;
  line-height: 1.4;
}

.biographie__subtitle--in-text {
  margin-bottom: 15px;
  margin-top: -200px;
  margin-left: 0;
  margin-right: 0;
  clear: both;
}

.biographie__block:last-child .biographie__subtitle {
    position: relative  ;
    left: -20px;
    top: -520px;
     white-space: nowrap;
}

/* Blocs de contenu */
.biographie__block {
  margin-bottom: 40px;
  padding: 0 15px;
}

.biographie__img-wrap {
    width: 16.5625rem;
    height: 22rem;
    float: left;
    margin-left: -110px;
    margin-top: -80px;
}

.biographie__img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.biographie__block--reverse .biographie__img-wrap {
    float: right !important;
    margin-left: 20px;
    margin-right: -50px;
    margin-top: -80px;
}

.biographie__block--reverse .biographie__subtitle--in-text {
  position: relative;
    top: -260px; 
}  

.biographie__block:last-child .biographie__text {
    margin-top: 0;
}

.biographie__block:last-child .biographie__text p {
    margin-bottom: 15px;
}

.biographie__block:last-child .biographie__link {
    margin-top: 10px;
}

.biographie__img-wrap--bottom {
    position: relative !important;
    float: none !important;
    clear: both !important;
    display: block !important;
    margin: 20px 0 20px -100px !important;
    top: 290px !important;  
    left: 50px;
}


.biographie__text {
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  line-height: 1.6;
}

.biographie__text p {
  margin-bottom: 15px;
  
}

.biographie__text p:nth-child(2) {
    clear: left;
    margin-bottom: 90px;

}

.biographie__block--reverse .biographie__text p:first-of-type {
    position: relative;
    top: -250px;
    padding-right: 130px;
}


.biographie__block--reverse .biographie__text p:nth-of-type(2) {
    clear: right;
    position: relative;
    top: -330px;
    background-color: #ffffff;
}

.biographie__block:last-child .biographie__text p {
    position: relative;
    top: -520px;
}

.biographie__block:last-child {
    position: relative;
    top: -200px;  
    margin-bottom: -120px;
}


.biographie__text h2 {
  font-family: 'Actor', sans-serif;
  font-size: 1.625rem;
  font-weight: 500;
  color: #a8d8dc;
  margin-bottom: 15px;
  margin-top: 0;
}

/* Texte en surbrillance */
.biographie__highlight {
  color: #dca7c7;
  font-weight: 700;
}

/* Lien */
.biographie__block:last-child .biographie__text .biographie__link {
    position: relative !important;
    top: -520px !important;
}


.biographie__link:hover {
  opacity: 0.7;
}

.biographie__internal-links {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    gap: 50px;  
}

.biographie__internal-link {
    display: inline-flex;
    align-items: center;
}

/* ===========================
   PAGE FIGURES DE L'OMBRE
   =========================== */

/* Hero */
.figures-ombre__hero {
  margin-left: -8px;
  width: 24.625rem;
  height: 12.25rem;
}

.figures-ombre__hero-img {
  width: 100%;
  height: auto;
  display: block;
}

/* Titre principal */
.figures-ombre__title {
  font-family: 'Actor', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #ED783D;
  line-height: 1.2;
  margin: 20px 15px 15px 15px;
}

/* Blocs */
.figures-ombre__block {
  margin-bottom: 40px;
  padding: 0 15px;
}

/* Texte */
.figures-ombre__text {
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  line-height: 1.6;
}

.figures-ombre__text p {
  margin-bottom: 15px;
}

/* Sous-titres */
.figures-ombre__subtitle {
  font-family: 'Actor', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #808bc5;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Highlight */
.figures-ombre__highlight {
  color: #dca7c7;
  font-weight: 700;
}

/* Images */
.figures-ombre__img-wrap {
  margin: 0px 0;
}

.figures-ombre__img {
  width: 100%;
  height: auto;
  display: block;
}

/* Listes */
.figures-ombre__text ul {
  list-style: none;
  padding-left: 0;
  margin: 15px 0;
}

.figures-ombre__text li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.figures-ombre__text li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: var(--rose, #eaa7c7);
}

.figures-ombre__internal-links {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    gap: 50px;  
}

/* ===========================
   PAGE VULGARISATION
   =========================== */

/* Hero */
.vulgarisation__hero {
  margin-left: -8px;
  width: 24.625rem;
  height: 12.25rem;
}

.vulgarisation__hero-img {
  width: 100%;
  height: auto;
  display: block;
}

/* Titre principal */
.vulgarisation__title {
  font-family: 'Actor', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #ED783D;
  line-height: 1.2;
  margin: 15px 15px;
}

/* Blocs */
.vulgarisation__block {
  margin-bottom: 40px;
  padding: 0 15px;
}

/* Sous-titres */
.vulgarisation__subtitle {
  font-family: 'Actor', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--bleu, #808bc5);
  margin: 30px 0 15px 0;
}

/* Images centrées */
.vulgarisation__img-wrap {
  text-align: center;
}

.vulgarisation__img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: inline-block;
}

/* Texte aligné à gauche */
.vulgarisation__text {
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  line-height: 1.6;
  text-align: left;
}

.vulgarisation__text p {
  margin-bottom: 15px;
}

/* Highlight */
.vulgarisation__highlight {
  color: #dca7c7;
  font-weight: 700;
}

/* Liens */
.vulgarisation__link {
  color: #808bc5;
  text-decoration: none;
}

.vulgarisation__link:hover {
  opacity: 0.7;
}

.vulgarisation__link img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
