
/* Base */
@import url('./base/variables.css');
@import url('./base/reset.css');
@import url('./base/typography.css');

/* Layout */
@import url('./layout/header.css');
@import url('./layout/footer.css');

/* Components */
@import url('./components/lang-switcher.css');
@import url('./components/hero.css');
@import url('./components/intro.css');
@import url('./components/card.css');