
/* Base */
@import url('./base/variables.css');
@import url('./base/reset.css');
@import url('./base/typography.css');

/* Layout */
@import url('./layout/header.css');
@import url('./layout/footer.css');
@import url('./layout/main.css');

/* Components */
@import url('./components/lang-switcher.css');
@import url('./components/hero.css');
@import url('./components/intro.css');
@import url('./components/card.css');
@import url('./components/menu.css');
@import url('./components/btn.css');
@import url('./components/section.css');
@import url('./components/page.css');

/* Vendors */
@import url('./vendors/normalize.css');

/* utils*/
@import url('./utils/variables.css');